body {
	background: #121212;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
	text-align: center;
}

a {
	padding: 5px;
	color: #e99eb7;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #585b63;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #121212;
	padding: 0 30px;
}

header > a {
	text-decoration: none;
	color: white;
}

button,
input {
	display: inline-block;
	margin: 5px;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	border-radius: 8px;
	padding: 14px 24px;
	border: none;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
		transform 0.1s ease 0s;
	background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
	color: #fff;
}

.form-buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.video-container,
.forms-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}

.video-container {
	margin-top: 150px;
}

.video-container > * {
	flex: 1;
	width: 40%;
}

.forms-container {
	height: 200px;
}

.prediction-message-container {
	height: 50px;
	display: flex;
	justify-content: center;
}

.prediction {
	margin: 0 15px;
	margin-top: -15px;
	font-size: 40px;
	color: #bfc3cd;
	font-style: oblique;
}
