body {
	background: #121212;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h2,
h3 {
	text-align: center;
}

button,
input {
	display: inline-block;
	max-height: 70px;
	margin: 5px;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	border-radius: 8px;
	padding: 14px 24px;
	border: none;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
		transform 0.1s ease 0s;
	background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
	color: #fff;
}

.form-buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.video-container {
	margin-bottom: 200px;
}

.video-container,
.forms-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	height: 40vh;
}
