<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="../static/style.css" />

		<title>Object Detection</title>
	</head>
	<body>
		<div class="video-container">
			<video width="350" height="280" id="video" controls muted autoplay></video>
			<button id="takePhoto">Take Photo for Object Detection</button>
			<canvas width="350" height="280" id="canvas"></canvas>
		</div>

		{% if model.img_upload_prediction %}
		<h2>{{model.img_upload_prediction.message}} was predicted by {{model.img_upload_prediction.predictor}}</h2>
		{% endif %}

		<h3>Upload an image for object detection</h3>
		<div class="forms-container">
			<form action="/yolo" method="post" enctype="multipart/form-data">
				<h4>Yolo5</h4>
				<div class="form-buttons">
					<input type="file" name="file" id="inputfile" />
					<button type="submit">Upload</button>
				</div>
			</form>

			<form action="/detectron" method="post" enctype="multipart/form-data">
				<h4>Detectron2</h4>
				<div class="form-buttons">
					<input type="file" name="file" id="inputfile" />
					<button type="submit">Upload</button>
				</div>
			</form>
		</div>

		<script
			src="//code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script src="/static/file-size.js"></script>
		<script src="/static/index.js"></script>
	</body>
</html>
