<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" href="../static/css/style.css" />

		<title>DetectAide Control Panel</title>
	</head>
	<body>
		<header>
			<a href="/"><img src="../static/images/logo-white.svg" /></a>
			<nav>
				<a href="#video-container">Take Photo</a>
				<a href="#forms-container">Upload Photo</a>
			</nav>
		</header>
		<div id="video-container" class="video-container">
			<label for="predictor-select">Select Object Detector</label>
			<select name="predictor-select" id="predictor-select">
				<option value="detectron">Detectron2</option>
				<option value="yolo">Yolo5</option>
			</select>
			<label for="autoCapture"><input type="checkbox" id="autoCapture" /> Auto Capture</label>
			<video id="video" controls muted autoplay></video>
			<button id="takePhoto">Detect Object</button>
			<canvas id="canvas"></canvas>
		</div>

		<h2 class="prediction-message-container">
			{% if model.img_upload_prediction %} A
			<span class="prediction" id="prediction">{{model.img_upload_prediction.message}} </span>
			with confidence of <span class="prediction">{{model.img_upload_prediction.confidence}}</span> percent, was
			predicted by <span class="prediction">{{model.img_upload_prediction.predictor}}</span> {% endif %}
		</h2>

		<h3>Or Upload an Image for Object Detection</h3>
		<div id="forms-container" class="forms-container">
			<form action="/yolo" method="post" enctype="multipart/form-data">
				<label for="image-file-yolo">Yolo5</label>
				<div class="form-buttons">
					<input type="file" name="file" id="image-file-yolo" />
					<button type="submit">Upload</button>
				</div>
			</form>

			<form action="/detectron" method="post" enctype="multipart/form-data">
				<label for="image-file-detectron">Detectron2</label>
				<div class="form-buttons">
					<input class="file-input" type="file" name="file" id="image-file-detectron" />
					<button type="submit">Upload</button>
				</div>
			</form>
		</div>
		<script src="/static/js/file-size.js"></script>
		<script src="/static/js/index.js"></script>
	</body>
</html>
