name: 'Tests'

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    runs:
      using: 'docker'
      image: 'Dockerfile'
    steps:
      - name: run docker exec
        run: docker exec object-detection-web-1 python3 tests/test-model-inference.py
