name: 'Tests'

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: isbang/compose-action@v1.4.1
      - name: Run docker exec test
        run: docker exec web python3 tests/test-model-inference.py
